* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100dvh;
}

header {
  min-height: 10vh;
  padding-top: 30px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  align-items: center;
  /* justify-content: center; */
 
}

/* Por alguna razon si uso flex en el padre del textarea este se expande cuando tengo apretado una letra, que embole. */
.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  flex-grow: 1;
  flex-shrink: 0;
}

.output-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 14vh;
  flex-grow: 1;
  /* justify-content: end; */
}

.container-textarea {
  width: 80%;
}

#input-textarea {
}

#logo_alura {
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
  min-height: 4vh;
  font-family: "Inter", sans-serif;
}

/* Truco con CSS para que el texarea crezca con el contenido */

.grow-wrap {
  display: grid;
  flex-grow: 1;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.grow-wrap > textarea {
  resize: vertical;
  overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  border: 1px solid red;
  padding: 0.5rem;
  font: inherit;

  grid-area: 1 / 1 / 2 / 2;
}
